body {
  /* height: 100vh;
  height: calc(var(--vh, 1vh) * 100); */
  /* width: 50vw;
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50); */
  width: 100vw;
  width: calc(var(--dvw, 1vw) * 100);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: url("./mario-bg-960X540.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#reStartButton {  
  background-color:gold;
  color: black;
  margin: 30px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

#board {
  width: 30vw;
  aspect-ratio: 1;
  /* height: 540px; */
  background-color: green;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  background: url("./soil.png");
  background-size: cover;
  border: 3px solid white;
  border-radius: 25px;
}

#board div {  /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
  /* width: 180px;
  height: 180px; */
  width: 10vw;
  aspect-ratio: 1;
  background-image: url("./pipe.png");
  background-size: cover;
}

#board div img {     /* all img tags inside tiles */
  /* width: 100px;
  height: 100px; */
  width: 6vw;
  aspect-ratio: 1;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}